<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>

  <h4 style="color:{{ctl.event.color}}"><i class="fa {{ctl.event.icon}}" aria-hidden="true"></i>
    <strong><span ng-bind="modal.title" class="modal-title"></span></strong></h4>
</div>

<div class="modal-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>

  <form class="form" novalidate name="form" ng-submit="ctl.saveEvent(form)">

    <uib-tabset active="active">
      <uib-tab>
        <uib-tab-heading>Informações</uib-tab-heading>
        <br/>
        <div class="row">
          <div class="col-xs-6">
            <dl>
              <dt><small>Nome</small></dt>
              <dd ng-class="{'has-error': form.dateStart.$invalid}">
                <input type="text" class="form-control" name="nome"
                  ng-model="ctl.meProfile.nome"/>
              </dd>
            </dl>
          </div>
          <div class="col-xs-6">
            <dl ng-show="!ctl.event.allDay">
              <dt><small>Sobrenome</small></dt>
              <dd>
                <input type="text" class="form-control" name="sobrenome"
                  ng-model="ctl.meProfile.sobrenome"/>
              </dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <dl>
              <dt><small>Email</small></dt>
              <dd ng-class="{'has-error': (form.email.$invalid && form.email.$dirty) || (form.email.$error.mongoose)}">
                <input type="email" name="email" class="form-control"
                  placeholder="email@email.com"
                  ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                  ng-model="ctl.meProfile.email" ng-required="true" mongoose-error/>

                <p class="help-block" ng-show="form.email.$error.required && form.email.$dirty">
                  Qual é o seu e-mail?</p>
                <p class="help-block" ng-show="form.email.$error.pattern">
                  O e-mail não parece válido.</p>
                <p class="help-block" ng-show="form.email.$error.mongoose">
                  {{ ctl.errors.email }}</p>
              </dd>
            </dl>
          </div>
          <div class="col-xs-6">
            <dt><small>Celular</small></dt>
            <dd>
              <input type="text" class="form-control"
                ng-model="ctl.meProfile.celular" ui-mask="(99) 9? 9999-9999"/>
            </dd>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <dl>
              <dt><small>Empresa</small></dt>
              <dd>
                <input type="text" class="form-control"
                  ng-model="ctl.meProfile.empresa"/>
              </dd>
            </dl>
          </div>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>Endereço</uib-tab-heading>
        <br/>
        <div class="row">
          <div class="col-sm-6">
            <dl>
              <dt><small>Endereço</small></dt>
              <dd>
                <input class="form-control"
                 placeholder="Rua, Avenida, Travessa etc"
                 ng-model="ctl.meProfile.endereco.address" />
              </dd>
            </dl>
          </div>
          <div class="col-sm-6">
            <dl>
              <dt><small>CEP</small></dt>
              <dd>
                <input class="form-control"
                 ui-mask="99999-999"
                 ng-model="ctl.meProfile.endereco.zipcode" />
              </dd>
            </dl>
          </div>
          <div class="col-sm-6">
            <dl>
              <dt><small>Complemento</small></dt>
              <dd>
                <input class="form-control" placeholder="Casa, Apartamento etc"
                 ng-model="ctl.meProfile.endereco.complement" />
              </dd>
            </dl>
          </div>
          <div class="col-sm-6">
            <dl>
              <dt><small>Bairro</small></dt>
              <dd>
                <input class="form-control"
                 ng-model="ctl.meProfile.endereco.suburb" />
              </dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <dl>
              <dt><small>Número</small></dt>
              <dd>
                <input class="form-control"
                 placeholder="Número"
                 ng-model="ctl.meProfile.endereco.number" />
              </dd>
            </dl>
          </div>
          <div class="col-sm-3">
            <dl>
              <dt><small>Cidade</small></dt>
              <dd>
                <input class="form-control"
                 ng-model="ctl.meProfile.endereco.city" />
              </dd>
            </dl>
          </div>
          <div class="col-sm-3">
            <dl>
              <dt><small>Estado</small></dt>
              <dd>
                <input class="form-control"
                 ng-model="ctl.meProfile.endereco.state" />
              </dd>
            </dl>
          </div>
          <div class="col-sm-3">
            <dl>
              <dt><small>País</small></dt>
              <dd>
                <input class="form-control"
                 placeholder="País"
                 ng-model="ctl.meProfile.endereco.country" />
              </dd>
            </dl>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
    <div class="row"><hr/></div>
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default"
          ng-click="$dismiss()">Fechar</button>

      </div>
    </div>
  </form>
</div>
