<div class="container">
  <div>
    <!--p><a ui-sref="admin"><small>Voltar para o início</small></a></p-->
    <h2><i class="fa fa-unlock-alt" aria-hidden="true"></i> {{$ctrl.title}}</h2>
    <p></p>
    <hr/>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form" name="form" ng-submit="$ctrl.changePassword(form)" novalidate>
              <div class="row">
                <div class="col-xs-12">
                  <dt><small>Nome usuário</small></dt>
                  <dd>
                    <input class="form-control" ng-disabled="true"
                     value="{{ $ctrl.user.username }}"/>
                  </dd>
                </div>
              </div>

              <div ng-if="$ctrl.requiredPassword" class="form-group"
                ng-class="{ 'has-error': form.password.$invalid && form.password.$dirty }">
                <label><small>Senha atual</small></label>
                <input type="password" name="password" class="form-control" placeholder="Digite sua senha atual"
                  ng-model="$ctrl.user.oldPassword" ng-required="true" mongoose-error/>

                <p class="help-block" ng-show="form.password.$error.required && form.password.$dirty">
                  A senha é necessário</p>

                <p class="help-block" ng-show="form.password.$error.mongoose">
                  {{ $ctrl.errors.other }}
                </p>
              </div>
              <div class="row">
                <div class="col-sm-6" ng-class="{ 'has-error': form.newPassword.$invalid && form.newPassword.$dirty }">
                  <label><small>Nova Senha</small></label>
                  <input type="password" name="newPassword" class="form-control"
                   placeholder="Digite uma senha" ng-maxlength="20"
                    ng-model="$ctrl.user.newPassword" ng-required="true" mongoose-error/>

                  <p check-strength="$ctrl.user.newPassword" form-field="newPassword"></p>

                  <p class="help-block" ng-show="form.newPassword.$error.checkStrength && !form.newPassword.$error.required && form.newPassword.$dirty">
                    Senha muito vunerável</p>
                  <p class="help-block" ng-show="form.newPassword.$error.required && form.newPassword.$dirty">
                    A senha é necessário</p>
                  <p class="help-block" ng-show="form.newPassword.$error.maxlength">
                    São permitidos no máximo 20 caractéres</p>
                  <p class="help-block" ng-show="form.newPassword.$error.mongoose">
                    {{ $ctrl.errors.newPassword }}</p>
                </div>

                <div class="col-sm-6" ng-class="{ 'has-error': form.confirmPassword.$invalid && form.newPassword.$dirty }">
                  <label><small>Confirmar Nova Senha</small></label>
                  <input type="password" name="confirmPassword" class="form-control"
                    ng-model="$ctrl.user.confirmPassword" placeholder="Confirme a senha"
                    match="form.newPassword" ng-required="true"/>

                  <p class="help-block" ng-show="form.confirmPassword.$error.match && !form.confirmPassword.$error.required">
                    A senha confirmada não corresponde a senha informada</p>
                </div>
              </div>

              <p class="help-block"> {{ $ctrl.message }} </p>
              <hr/>
              <button class="btn btn-lg btn-primary" type="submit" ng-disabled="form.$invalid">Salvar</button>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
