<div class="container">
  <div>
    <p class="text-primary">
      <a ui-sref="orcamentos"><small>Voltar</small></a>
    </p>

    <span spinner-key="spinner-1" spinner-start-active="true"
      us-spinner="{ radius: 24, width: 8, length: 16 }"/>

    <form class="form" name="form" novalidate ng-submit="ctl.saveOrcamento(form)">

      <div class="panel panel-default">
        <div class="panel-body">
          <h4>
            <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
            &nbsp;<label>{{ctl.orcamento.nome}}</label>
            &nbsp;<small>({{ctl.orcamento.status}})</small>
          </h4>
          <hr/>

          <div class="row">
            <div class="col-sm-6">
              <dl>
                <dt class="text-muted"><small>Nome do orçamento</small></dt>
                <dd ng-class="{'has-error': form.nome.$invalid && form.nome.$dirty}">
                  <input type="text" name="nome" class="form-control" placeholder="Nome"
                   ng-model="ctl.orcamento.nome" ng-required="true" ng-minlength="3" ng-maxlength="100"/>

                  <p class="help-block"
                    ng-show="form.nome.$error.required && form.nome.$dirty">
                    O nome é necessário</p>
                  <p class="help-block" ng-show="form.nome.$error.minlength">
                    São necessários no minimo 3 letras</p>
                  <p class="help-block" ng-show="form.nome.$error.maxlength">
                    São permitidos no máximo 100 letras</p>
                </dd>
              </dl>
            </div>
            <div class="col-sm-6">
              <dl>
                <dt class="text-muted"><small>Data de Validade</small></dt>
                <dd ng-class="{'has-error': form.dataValidade.$invalid}">
                  <p class="input-group">
                    <input type="text" class="form-control" name="dataValidade"
                      ng-model="ctl.orcamento.dataValidade"
                      uib-datepicker-popup="{{ctl.format}}" placeholder="__/__/____"
                      is-open="ctl.popup1.opened" datepicker-options="ctl.dateOptions"
                      show-button-bar="false"/>
                    <span class="input-group-btn">
                     <button type="button" class="btn btn-default"
                     ng-click="ctl.popup1.opened = true;">
                     <i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </span>
                  </p>
                 </dd>
              </dl>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <dl>
                <dt class="text-muted"><small>Conta <i ng-show="ctl.orcamento.conta._id">*</i></small></dt>
                <dd>
                  <p class="input-group">

                    <input type="text" ng-model="ctl.orcamento.conta" placeholder="Nome da conta"
                        uib-typeahead="acc as acc.nome for acc in ctl.findAcc($viewValue)"
                        typeahead-loading="loadingAcc" typeahead-no-results="noResults" class="form-control">

                    <span class="input-group-btn">
                     <button type="button" class="btn btn-default"
                        ng-click="ctl.openFindConta()">
                     <i class="fa fa-search" aria-hidden="true"></i></button>
                     <button type="button" class="btn btn-default" ng-if="ctl.orcamento.conta._id"
                        ui-sref="contaedit({id: ctl.orcamento.conta._id})">
                     <i class="fa fa-folder-open-o" aria-hidden="true"></i></button>
                    </span>

                    <div ng-show="loadingAcc">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </div>
                    <div ng-show="noResults">
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Nenhuma conta encontrada
                    </div>
                  </p>
                </dd>
              </dl>
            </div>

            <div class="col-sm-6">
              <dl>
                <dt class="text-muted"><small>Contato <i ng-show="ctl.orcamento.contato._id">*</i></small></dt>
                <dd>
                  <p class="input-group">

                    <input type="text" ng-model="ctl.orcamento.contato" placeholder="Nome do contato"
                        uib-typeahead="ctt as ctt.name for ctt in ctl.findCtt($viewValue)"
                        typeahead-loading="loadingCtt" typeahead-no-results="noResultsCtt" class="form-control">

                    <span class="input-group-btn">
                     <button type="button" class="btn btn-default"
                        ng-click="ctl.openFindContato()">
                     <i class="fa fa-search" aria-hidden="true"></i></button>
                     <button type="button" class="btn btn-default" ng-if="ctl.orcamento.contato._id"
                        ui-sref="contatoedit({id: ctl.orcamento.contato._id})">
                     <i class="fa fa-address-book-o" aria-hidden="true"></i></button>
                    </span>

                    <div ng-show="loadingCtt">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </div>
                    <div ng-show="noResultsCtt">
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Nenhuma contato encontrada
                    </div>
                  </p>
                </dd>
              </dl>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6">
              <dl>
                <dt class="text-muted"><small>Status</small></dt>
                <dd ng-class="{'has-error': form.status.$invalid}">
                  <select class="form-control" name="status" ng-model="ctl.orcamento.status"
                     ng-options="item as item for item in ctl.status"
                     ng-required="true">
                     <option value="" ng-if="!ctl.orcamento.status">-- Nenhum --</option>
                  </select>
                  <p class="help-block"
                    ng-show="form.status.$error.required">
                    O status é necessário</p>
                </dd>
              </dl>
            </div>
            <div class="col-sm-6">
              <textarea class="form-control" rows="2" placeholder="Descrição"
                ng-model="ctl.orcamento.descricao"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <dl>
                <dt class="text-muted"><small>Valor Venda</small></dt>
                <dd>
                  <input type="text" class="form-control text-right" ng-disabled="true"
                    style="background-color: #FFF;"
                    ng-model="ctl.orcamento.valorVenda" ui-money-mask/>
                </dd>
              </dl>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <dl>
                <dt class="text-muted"><small>Desconto</small></dt>
                <dd>
                  <input type="text" class="form-control text-right" ng-disabled="true"
                    style="background-color: #FFF;"
                    ng-model="ctl.orcamento.desconto" ui-percentage-mask/>
                </dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <dl>
                <dt class="text-muted"><small>Valor Total</small></dt>
                <dd class="text-right">
                  <input type="text" class="form-control text-right" ng-disabled="true"
                    style="background-color: #FFF;"
                    ng-model="ctl.orcamento.valorTotal" ui-money-mask/>
                </dd>
              </dl>
            </div>
          </div>
          <br/>
          <h4>
            <i class="fa fa-puzzle-piece fa-2x" aria-hidden="true"></i>
            &nbsp;<label>Itens do orçamento</label>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-sm"
                ng-click="ctl.addProduto()" uib-tooltip="Adicionar produto">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <i ng-if="ctl.isFull()">Produto</i></button>
            </div>
          </h4>
          <hr/>
          <div class="alert" ng-if="!ctl.orcamento.itens.length">
            <h4><code>Nenhum resultado encontrado</code></h4>
          </div>
          <div class="table-responsive" ng-if="ctl.orcamento.itens.length">
            <table class="table table-striped table-condensed">
              <thead class="text-muted">
                <tr>
                  <th></th>
                  <th><small>Nome do produto</small></th>
                  <th class="text-right"><small>Preço Venda</small></th>
                  <th><small></small></th>
                  <th class="text-right"><small>Valor Venda</small></th>
                  <th class="text-right"><small>Quantidade</small></th>
                  <th class="text-right"><small>Desconto</small></th>
                  <th class="text-right"><small>Valor Total</small></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="pdt in ctl.orcamento.itens">

                  <td><a href="#" ng-click="ctl.removeOrcamentoItem(pdt.produto._id)" title="Excluír item">
                    <i class="fa fa-trash" aria-hidden="true"></i></a></td>
                  <td><a href="#" ng-click="ctl.openModalOrcamentoItem(pdt)">
                    <small>{{ pdt.produto.nome }}</small></a>
                    <p>
                      <small class="text-muted">{{pdt.produto.categoria}}</small>
                    </p>
                  </td>
                  <td class="text-right">
                    <small class="text-muted">{{ pdt.valorCatalogo | finance:true:3 }}</small></td>
                  <td>
                    <small class="text-muted">{{ pdt.produto.unidade }}</small></td>
                  <td class="text-right">
                    <small class="text-muted">{{ pdt.valor | finance:true:3 }}</small></td>
                  <td class="text-right">
                    <small class="text-muted">{{ pdt.quantidade | number:1 }}</small></td>
                  <td class="text-right">
                    <small class="text-muted">{{ pdt.desconto | percentage:1 }}</small></td>
                  <td class="text-right">
                    <small class="text-info">{{ pdt.valorTotal | finance:true:3}}</small></td>
                </tr>
              </tbody>
            </table>
          </div>

          <br/>
          <div class="row"><hr/></div>
          <div class="list-group">
            <button class="btn btn-primary" type="submit"
              ng-disabled="form.$invalid">Salvar</button>
            <button type="button" class="btn btn-link"
              ui-sref="orcamentos">Voltar</button>
          </div>

        </div>
      </div>
    </form>
  </div>
