<div class="container">

  <h1 class="page-header">
  <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
  Efetue login em sua conta</h1>

  <div class="row">

    <div class="col-md-8">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Informe o seu Email e Senha
            <a ui-sref="signup" class="btn-link pull-right">
            <i class="fa fa-edit fa-fw" aria-hidden="true"></i>  Criar conta</a></h3>
        </div>

        <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
          <br/>

          <ul class="list-group no-margin-bottom">
            <li class="list-group-item no-border" ng-class="{ 'has-success': form.email.$valid && form.email.$dirty,
                                                  'has-error': form.email.$invalid && form.email.$dirty}">
              <!--label>Email</label-->
              <!--input type="email" name="email" class="form-control"
                ng-model="vm.user.email" required placeholder="email@gmail.com"-->

              <input type="email" name="email" class="form-control" placeholder="email@email.com"
                 ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                  ng-model="vm.user.email" ng-required="true"/>

                <p class="help-block" ng-show="form.email.$error.required && form.email.$dirty">
                  Qual é o seu e-mail?</p>
                <p class="help-block" ng-show="form.email.$error.pattern">
                  O e-mail não parece válido.</p>
            </li>

            <li class="list-group-item no-border" ng-class="{ 'has-success': form.password.$valid && form.password.$dirty,
                                    'has-error': form.password.$invalid && form.password.$dirty }"
              <!--label>Senha</label-->
              <input type="password" name="password" class="form-control"
               placeholder="Digite uma senha" ng-minlength="5" ng-maxlength="20"
                ng-model="vm.user.password" ng-required="true"/>

              <!--input type="password" name="password" class="form-control" id="password"
                ng-model="vm.user.password" ng-required="true" placeholder="Senha"-->

                <p class="help-block" ng-show="(form.email.$error.required || form.password.$error.required) && vm.submitted">
                  Por favor entre com seu e-mail e senha.
                </p>
                <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                   Usuário ou Senha inválido.
                </p>
                <p class="help-block">{{ vm.errors.login }}</p>
            </li>
            <br/>
            <div class="list-group-item no-border">
              <button class="btn btn-primary btn-lg" type="submit">
                Entrar
              </button>
            </div>
            <br/>
          </ul>
      </div>
    </div>
  </div>
</div>
<hr>
