<div class="container">

  <span spinner-key="spinner-1" spinner-start-active="true"
    us-spinner="{radius:24, width:8, length: 16}">
  </span>

  <div class="row">
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#" ng-click="ctl.findContas('')" uib-tooltip="Todos">
          <i class="fa fa-gift" aria-hidden="true"></i>
          <small ng-if="ctl.isFull()">Produtos</small>
          <span class="badge">{{ ctl.ProdutoService.getProdutoList().length}}</span>
        </a>
      </li>
    </ul>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-6">
      <a class="btn btn-default" ui-sref="produtoedit()">
        <i class="fa fa-plus" aria-hidden="true"></i> <i ng-if="ctl.isFull()">Novo</i></a>
      <!--a ui-sref="homemenu"><small>Voltar para o início</small></a-->
    </div>
    <div class="col-xs-6 pull-right form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Filtrar resultados" ng-model="filtrarResult">
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive" ng-if="ctl.produtos.length">
        <table class="table table-striped table-condensed">
          <thead class="text-muted">
            <tr>
              <th><small>Nome do produto</small></th>
              <th><small>Código</small></th>
              <th><small>Categoria</small></th>
              <th><small>Modelo</small></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pdt in ctl.produtos | orderBy:sortType:sortReverse | filter:filtrarResult">
              <td>
                <a ui-sref="produtoedit({id: pdt._id})">
                {{ pdt.nome }}</a>
                <p><small>{{pdt.uso}}</small></p>
              </td>
              <td><small>{{ pdt.codigo }}</small></td>
              <td><small>{{ pdt.categoria }}</small></td>
              <td><small>{{ pdt.modelo }}</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="panel" ng-if="!ctl.produtos.length">
    <div class="panel-body">
      <div class="alert">
        <h4><code>Nenhum resultado encontrado</code></h4>
      </div>
    </div>
  </div>

</div>
