<div class="container">
  <div>
    <p class="text-primary">
      <a ui-sref="leads"><small>Voltar</small></a>
      | <a href="#end"><small>Endereço</small></a>
      | <a href="#atv"><small>Atividades</small></a>
    </p>

    <span spinner-key="spinner-1" spinner-start-active="true"
      us-spinner="{ radius: 24, width: 8, length: 16 }"/>

      <form class="form" name="form" novalidate ng-submit="ctl.save(form)">

        <div class="panel panel-default">
          <div class="panel-body">
            <h4>
              <i class="fa fa-child fa-2x" aria-hidden="true"></i>
              &nbsp;<label>{{ctl.lead.nome}} {{ctl.lead.sobrenome}}</label>
              &nbsp;<small>({{ctl.lead.status}})</small>
            </h4>
            <hr/>
            <div class="row">
              <div class="col-sm-6">
                <dl>
                  <dt><small>Status</small></dt>
                  <dd ng-class="{'has-error': form.status.$invalid}">
                    <select class="form-control" name="status" ng-model="ctl.lead.status"
                       ng-options="item as item for item in ctl.status"
                       ng-required="true" ng-disabled="!ctl.isEdit()">
                       <option value="" ng-if="!ctl.lead.status">-- Nenhum --</option>
                    </select>
                    <p class="help-block"
                      ng-show="form.status.$error.required">
                      O status é necessário</p>
                  </dd>
                </dl>
              </div>
              <div class="col-sm-6">
                <dl>
                  <dt><small>Origem</small></dt>
                  <dd ng-class="{'has-error': form.origem.$invalid}">
                    <select class="form-control" name="origem" ng-model="ctl.lead.origem"
                       ng-options="item as item for item in ctl.origem"
                       ng-required="true" ng-disabled="!ctl.isEdit()">
                       <option value="" ng-if="!ctl.lead.origem">-- Nenhum --</option>
                    </select>
                    <p class="help-block"
                      ng-show="form.origem.$error.required">
                      A origem é necessária</p>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <dl>
                  <dt><small>Nome</small></dt>
                  <dd ng-class="{'has-error': form.nome.$invalid && form.nome.$dirty}">
                    <input type="text" name="nome" class="form-control" placeholder="Nome"
                     ng-model="ctl.lead.nome" ng-required="true" ng-minlength="3" ng-maxlength="30"
                      nomevalido="false" ng-disabled="!ctl.isEdit()"/>

                    <p class="help-block"
                      ng-show="form.nome.$error.required && form.nome.$dirty">
                      O nome é necessário</p>
                    <p class="help-block" ng-show="form.nome.$error.minlength">
                      São necessários no minimo 3 letras</p>
                    <p class="help-block" ng-show="form.nome.$error.maxlength">
                      São permitidos no máximo 30 letras</p>
                  </dd>
                </dl>
              </div>
              <div class="col-sm-6">
                <dl>
                  <dt><small>Sobrenome</small></dt>
                  <dd ng-class="{'has-error': form.sobrenome.$invalid && form.sobrenome.$dirty}">
                    <input type="text" name="sobrenome" class="form-control" placeholder="Sobrenome"
                     ng-model="ctl.lead.sobrenome" ng-required="true" ng-minlength="3" ng-maxlength="40"
                      nomevalido="true" ng-disabled="!ctl.isEdit()"/>

                    <p class="help-block"
                      ng-show="form.sobrenome.$error.required && form.sobrenome.$dirty">
                      O sobrenome é necessário</p>
                    <p class="help-block" ng-show="form.sobrenome.$error.minlength">
                      São necessários no minimo 3 letras</p>
                    <p class="help-block" ng-show="form.sobrenome.$error.maxlength">
                      São permitidos no máximo 40 letras</p>
                  </dd>
                </dl>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <dl>
                  <dt><small>Email</small></dt>
                  <dd ng-class="{'has-error': (form.email.$invalid && form.email.$dirty) || (form.email.$error.mongoose)}">
                    <input type="email" name="email" class="form-control"
                      placeholder="email@email.com" ng-disabled="!ctl.isEdit()"
                      ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                      ng-model="ctl.lead.email" mongoose-error/>

                    <p class="help-block" ng-show="form.email.$error.required && form.email.$dirty">
                      Qual é o seu e-mail?</p>
                    <p class="help-block" ng-show="form.email.$error.pattern">
                      O e-mail não parece válido.</p>
                    <p class="help-block" ng-show="form.email.$error.mongoose">
                      {{ ctl.errors.email }}</p>
                  </dd>
                </dl>
              </div>
              <div class="col-sm-6">
                <dt><small>Celular</small></dt>
                <dd>
                  <input type="text" class="form-control" ng-disabled="!ctl.isEdit()"
                    ng-model="ctl.lead.celular" ui-mask="(99) 9? 9999-9999"/>
                </dd>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <dl>
                  <dt><small>Empresa</small></dt>
                  <dd>
                    <input type="text" class="form-control"
                      placeholder="Nome da empresa" ng-disabled="!ctl.isEdit()"
                      ng-model="ctl.lead.empresa"/>
                  </dd>
                </dl>
              </div>
              <div class="col-sm-6">
                <dl>
                  <dt><small>Telefone</small></dt>
                  <dd>
                    <input type="text" class="form-control" ng-disabled="!ctl.isEdit()"
                      ng-model="ctl.lead.telefone" ui-mask="(99) 9999-9999"/>
                  </dd>
                </dl>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <dl>
                  <dt><small>Produto Interresse</small></dt>
                  <dd ng-class="{'has-error': form.produto.$invalid}">
                    <select class="form-control" name="produto" ng-model="ctl.lead.produto"
                       ng-options="item as item for item in ctl.produto" ng-disabled="!ctl.isEdit()">
                       <option value="" ng-if="!ctl.lead.produto">-- Nenhum --</option>
                    </select>
                  </dd>
                </dl>
              </div>
              <div class="col-sm-6">
                <dl>
                  <dt>
                    <label class="radio-inline">
                      <input type="radio" ng-model="ctl.lead.iden" ng-click="ctl.updateMask()"
                        value="cpf" name="optradio" ng-disabled="ctl.lead.cpfCnpj && !ctl.isEdit()">CPF</label>

                    <label class="radio-inline">
                      <input type="radio" ng-model="ctl.lead.iden" ng-click="ctl.updateMask()"
                        value="cnpj" name="optradio" ng-disabled="ctl.lead.cpfCnpj && !ctl.isEdit()">CNPJ</label>
                  </dt>
                  <dd>
                    <input type="text" class="form-control" ng-disabled="!ctl.isEdit()"
                      ng-model="ctl.lead.cpfCnpj" ui-mask="{{ctl.mask}}"/>
                  </dd>
                </dl>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <dl>
                  <dt><small>Titulo</small></dt>
                  <dd>
                    <input type="text" class="form-control"
                      ng-model="ctl.lead.titulo" ng-disabled="!ctl.isEdit()"/>
                  </dd>
                </dl>
              </div>
              <div class="col-sm-6">
                <dl>
                  <dt><small>Setor</small></dt>
                  <dd ng-class="{'has-error': form.setor.$invalid}">
                    <select class="form-control" name="setor" ng-model="ctl.lead.setor"
                       ng-options="item as item for item in ctl.setor" ng-disabled="!ctl.isEdit()">
                       <option value="" ng-if="!ctl.lead.setor">-- Nenhum --</option>
                    </select>
                  </dd>
                </dl>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <textarea class="form-control" rows="3" placeholder="Descrição do lead"
                  ng-model="ctl.lead.descricao" ng-disabled="!ctl.isEdit()"></textarea>
              </div>
            </div>

            <br/>

            <div class="row" ng-if="ctl.lead._id">
              <div class="col-sm-6">
                <dl>
                  <dt><small>Criado</small></dt>
                  <dd>
                    <small>{{ ctl.lead.createdAt | date:'dd/MM/yyyy HH:mm' }} por
                    <strong>{{ctl.lead.criador.nome}} {{ctl.lead.criador.sobrenome}}</strong>
                    </small>
                  </dd>
                </dl>
              </div>
              <div class="col-sm-6">
                <dl>
                  <dt><small>Modificado</small></dt>
                  <dd>
                    <small>{{ ctl.lead.updatedAt | date:'dd/MM/yyyy HH:mm' }} por
                    <strong>{{ ctl.lead.modificador.nome}} {{ ctl.lead.modificador.sobrenome}}</strong>
                    </small>
                  </dd>
                </dl>
              </div>
            </div>

            <hr/>
            <div class="list-group">
              <button class="btn btn-primary" type="submit"
                ng-disabled="form.$invalid || ctl.wait || !ctl.isEdit()"> Salvar</button>
              <button type="button" class="btn btn-link"
                ui-sref="leads">Voltar</button>
            </div>
          </div>
        </div>

        <div id="end" class="panel panel-default">
          <div class="panel-body">
            <endereco ng-model="ctl.lead.endereco" active="!ctl.isEdit()"></endereco>
            <div class="row"><hr/></div>

            <div class="list-group">
              <button class="btn btn-primary" type="submit"
                ng-disabled="form.$invalid || ctl.wait || !ctl.isEdit()"> Salvar</button>
              <button type="button" class="btn btn-link"
                ui-sref="leads">Voltar</button>
            </div>
          </div>
        </div>

      </form>

      <div id="atv" class="panel panel-default" ng-if="ctl.lead._id">
        <div class="panel-body">
          <atividade ng-model="ctl.lead.atividades" event-controller="ctl"></atividade>
        </div>
      </div>

  </div>
</div>
