<div class="container">

  <span spinner-key="spinner-1" spinner-start-active="true"
    us-spinner="{radius:24, width:8, length: 16}">
  </span>

  <div class="row">
    <ul class="nav nav-pills" ng-class="ctl.isJustified()">
      <li ng-class="{ active: ctl.isActive('')}">
        <a href="#" ng-click="ctl.findContas('')" uib-tooltip="Todos">
          <i class="fa fa-folder-open-o" aria-hidden="true"></i>
          <small ng-if="ctl.isFull()">Contas</small>
          <span class="badge">{{ ctl.ContaService.getContaList().length}}</span>
        </a>
      </li>
      <li ng-class="{ active: ctl.isActive('fisica')}">
        <a href="#" ng-click="ctl.findContas('fisica')" uib-tooltip="Pessoa Física">
          <i class="fa fa-male" aria-hidden="true"></i>
          <small ng-if="ctl.isFull()">Pessoa Física</small>
          <span class="badge">{{ ctl.pessoaFisica.length}}</span>
        </a>
      </li>
      <li ng-class="{ active: ctl.isActive('juridica')}">
        <a href="#" ng-click="ctl.findContas('juridica')" uib-tooltip="Pessoa Jurídica">
          <i class="fa fa-building-o" aria-hidden="true"></i>
          <small ng-if="ctl.isFull()">Pessoa Jurídica</small>
          <span class="badge">{{ ctl.pessoaJuridica.length}}</span>
        </a>
      </li>
    </ul>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-6">
      <a class="btn btn-default" ui-sref="contaedit()">
        <i class="fa fa-plus" aria-hidden="true"></i> <i ng-if="ctl.isFull()">Novo</i></a>
      <!--a ui-sref="homemenu"><small>Voltar para o início</small></a-->
    </div>
    <div class="col-xs-6 pull-right form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Filtrar resultados" ng-model="filtrarResult">
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
      ng-repeat="acc in  ctl.contas | orderBy:sortType:sortReverse | filter:filtrarResult">
      <div class="panel panel-houver">

        <div class="panel-heading text-muted">
          <b></b>
          <p></p>
          <p> 
            <a ui-sref="contaedit({id: acc._id})">
              <i class="fa fa-folder-open-o fa-lg"></i> <i>{{ acc.nome }}</i></a>
          </p>
          <p title="Criado por {{acc.criador.nome}} {{acc.criador.sobrenome}} em {{ acc.createdAt | date:'dd/MM/yyyy HH:mm' }}">
            <i class="fa fa-clock-o" aria-hidden="true"></i> <small>{{ acc.createdAt | date:'dd/MM/yyyy HH:mm' }}</small>  </p>
          <p>
          <hr/>
          <p>
            <small>
              <i class="fa fa-barcode" aria-hidden="true"></i>
              <span ng-if="acc.cpf" title="CPF"><b>{{acc.cpf | brCpf}}</b></span>
              <span ng-if="acc.cnpj" title="CNPJ"><b>{{acc.cnpj | brCnpj}}</b></span>
            </small>
            <small>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a  href="tel:{{acc.telefone}}" ng-if="acc.telefone" title="Telefone">
                <b>{{acc.telefone | brPhoneNumber}}</b></a>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel" ng-if="!ctl.contas.length">
    <div class="panel-body">
      <div class="alert">
        <h4><code>Nenhum resultado encontrado</code></h4>
      </div>
    </div>
  </div>

</div>
