<div class="container">

  <span spinner-key="spinner-1" spinner-start-active="true"
    us-spinner="{radius:24, width:8, length: 16}">
  </span>

  <div class="row">
    <div class="col-xs-6">
      <a class="btn btn-default" ui-sref="bancoedit()">
        <i class="fa fa-plus" aria-hidden="true"></i> <i ng-if="ctl.isFull()">Novo</i></a>
    </div>
    <!--div class="col-xs-4">
      <select class="form-control" name="unidade" ng-model="ctl.selectCat"
         ng-options="item as item for item in ctl.categorias">
         <option value="">-- Categoria --</option>
      </select>
    </div-->
    <div class="col-xs-5 pull-right form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Filtrar resultados" ng-model="filtrarResult">
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="alert" ng-if="!ctl.bancos.length">
        <hr/>
        <h4><code>Nenhum resultado encontrado</code></h4>
      </div>
      <div class="table-responsive" ng-if="ctl.bancos.length">
        <table class="table table-striped table-condensed">
          <thead class="text-muted">
            <tr>
              <th></th>
              <th>
                <a href="#" ng-click="ctl.sortType = 'codigo'; ctl.sortReverse = !ctl.sortReverse">
                  <small>Código<small>
                  <div class="pull-right">
                    <i ng-show="ctl.sortType == 'codigo' && !ctl.sortReverse"
                      class="fa fa-sort-amount-asc"></i>
                    <i ng-show="ctl.sortType == 'codigo' && ctl.sortReverse"
                      class="fa fa-sort-amount-desc"></i>
                  </div>
                </a>
              </th>
              <th>
                <a href="#" ng-click="ctl.sortType = 'nome'; ctl.sortReverse = !ctl.sortReverse">
                  <small>Nome<small>
                  <div class="pull-right">
                    <i ng-show="ctl.sortType == 'nome' && !ctl.sortReverse"
                      class="fa fa-sort-amount-asc"></i>
                    <i ng-show="ctl.sortType == 'nome' && ctl.sortReverse"
                      class="fa fa-sort-amount-desc"></i>
                  </div>
                </a>
              </th>
              <th>
                <a href="#" ng-click="ctl.sortType = 'agencia'; ctl.sortReverse = !ctl.sortReverse">
                  <small>Agencia<small>
                  <div class="pull-right">
                    <i ng-show="ctl.sortType == 'agencia' && !ctl.sortReverse"
                      class="fa fa-sort-amount-asc"></i>
                    <i ng-show="ctl.sortType == 'agencia' && ctl.sortReverse"
                      class="fa fa-sort-amount-desc"></i>
                  </div>
                </a>
              </th>
              <th>
                <a href="#" ng-click="ctl.sortType = 'conta'; ctl.sortReverse = !ctl.sortReverse">
                  <small>Conta<small>
                  <div class="pull-right">
                    <i ng-show="ctl.sortType == 'conta' && !ctl.sortReverse"
                      class="fa fa-sort-amount-asc"></i>
                    <i ng-show="ctl.sortType == 'conta' && ctl.sortReverse"
                      class="fa fa-sort-amount-desc"></i>
                  </div>
                </a>
              </th>
              <th>
                <a href="#" ng-click="ctl.sortType = 'account'; ctl.sortReverse = !ctl.sortReverse">
                  <small>Beneficiário<small>
                  <div class="pull-right">
                    <i ng-show="ctl.sortType == 'account' && !ctl.sortReverse"
                      class="fa fa-sort-amount-asc"></i>
                    <i ng-show="ctl.sortType == 'account' && ctl.sortReverse"
                      class="fa fa-sort-amount-desc"></i>
                  </div>
                </a>
              </th>
              <th class="text-right">
                <a href="#" ng-click="ctl.sortType = 'saldo'; ctl.sortReverse = !ctl.sortReverse">
                  <small>Saldo<small>
                  <div class="pull-right">
                    <i ng-show="ctl.sortType == 'saldo' && !ctl.sortReverse"
                      class="fa fa-sort-amount-asc"></i>
                    <i ng-show="ctl.sortType == 'saldo' && ctl.sortReverse"
                      class="fa fa-sort-amount-desc"></i>
                  </div>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ban in ctl.bancos | orderBy:ctl.sortType:ctl.sortReverse | filter:filtrarResult">
              <td><a href="#" ui-sref="bancoedit({id: ban._id})">
                <i class="fa fa-university" aria-hidden="true"></i></a></td>
              <td><small class="text-muted">{{ ban.codigo }}</small></td>
              <td><a href="#" ui-sref="bancoedit({id: ban._id})">
                <small>{{ ban.nome }}</small></a></td>
              <td><small class="text-muted">{{ ban.agencia }}</small></td>
              <td><small class="text-muted">{{ ban.conta }}</small></td>
              <td>
                <a href="#" ui-sref="contaedit({id: ban.account._id})">
                  <small class="text-muted">{{ ban.account.cnpj | brCnpj }}</small>
                  <small class="text-muted">{{ ban.account.cpf | brCpf }}</small>
                </a>
              </td>
              <td class="text-right">
                <h5 class="text-info">{{ ban.saldo | currency}}</h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
