<div class="container">

  <span spinner-key="spinner-1" spinner-start-active="true"
    us-spinner="{radius:24, width:8, length: 16}">
  </span>

  <div class="row">
    <div class="col-xs-4">
      <ul class="nav nav-pills">
        <li>
          <a href="#" ng-click="ctl.init()" uib-tooltip="Fluxo de caixa">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            <small ng-if="ctl.isFull()"> Fluxo de caixa</small>
            <span class="badge" ng-if="ctl.status === 'pagar'">{{ ctl.pagamentos.length}}</span>
          </a>
        </li>
        <p class="text-right"><small>
          <input type="checkbox" ng-model="ctl.isPrevisao" ng-click="ctl.setShowPrevisao()"> Detalhes
        </small></p>
      </ul>
    </div>
    <div class="col-md-4">
      <p class="input-group">
        <input type="text" class="form-control" name="startDate"
          ng-model="ctl.startDate" datepicker-options="ctl.dateOptions"
          uib-datepicker-popup="{{ctl.format}}" placeholder="__/__/____"
          is-open="ctl.popup2.opened" ng-blur="ctl.init()"
          ng-required="true" show-button-bar="false"
          style="background-color: #FFF;"/>

        <span class="input-group-btn">
         <button type="button" class="btn btn-default"
          ng-click="ctl.popup2.opened = true;">
         <i class="fa fa-calendar" aria-hidden="true"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-4">
      <select class="form-control" name="status" ng-model="ctl.typeView"
         ng-options="item.id as item.value for item in ctl.typeViewArray"
         ng-required="true" ng-blur="ctl.init()">
      </select>
    </div>

  </div>
  <p></p>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <colgroup>
            <col/>
            <col ng-class="{ 'bg-warning' : m.mes === ctl.nowSelect, 'bg-info' : m.mes === 'Total' }" ng-repeat="m in ctl.cashFlowView"/>
          </colgroup>
          <thead>
            <tr>
              <th></th>
              <th class="text-right" ng-repeat="m in ctl.cashFlowView"
                ng-class="{ 'bg-warning text-warning' : m.mes === ctl.nowSelect, 'bg-primary' : m.mes !== ctl.nowSelect }">
                <small class="text-uppercase">{{ m.mes }}</small></th>
            </tr>
          </thead>

          <tbody>

            <tr class="text-warning">
              <td><i class="fa fa-flag" aria-hidden="true"></i> <small><b>&nbsp; Saldo Inícial</b></small></td>
              <td class="text-right" ng-repeat="m in ctl.saldos track by $index">
                <small ng-if="m.saldoInicial"><b>{{m.saldoInicial.saldoInicial | number:2}}</b></small></td>
            </tr>
            <tr class="active text-muted">
              <td><i class="fa fa-level-up" aria-hidden="true"></i><small> <b>Receitas</b></small></td>
              <td class="text-right" ng-repeat="m in ctl.saldos track by $index">
                <small ng-if="m.sumCred"><b>{{m.sumCred | number:2}}</b></small>
                <br/><small><i>({{m.previsaoReceita | number:2}})</i></small>
              </td>
            </tr>
            <tr ng-repeat="r in ctl.receitas track by $index" ng-show="r.isShow"
              ng-click="ctl.showPrevisao(ctl.receitas, r, $index)">
              <td><small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;<i>{{ r.nome }}</i></small></td>
              <td class="text-right" ng-repeat="sai in r.saidas track by $index">
                <small class="text-muted" ng-if="r.nome === ''">
                  <i>({{sai | number:2 }})</i></small>
                <small class="text-primary" ng-if="r.nome !== ''">
                  {{sai | number:2 }}</small></td>
            </tr>

            <tr class="active text-muted">
              <td><i class="fa fa-level-down" aria-hidden="true"></i><small> <b>Despesas</b></small></td>
              <td class="text-right" ng-repeat="m in ctl.saldos track by $index">
                <small ng-if="m.sumDeb"><b>{{m.sumDeb | number:2}}</b></small>
                <br/><small><i>({{-m.previsaoDespesa | number:2}})</i></small>
              </td>
            </tr>
            <tr ng-repeat="d in ctl.despesas" ng-show="d.isShow"
              ng-click="ctl.showPrevisao(ctl.despesas, d, $index)">
              <td><small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;<i>{{ d.nome }}</i></small></td>
              <td class="text-right" ng-repeat="sai in d.saidas track by $index">
                <small class="text-muted" ng-if="d.nome === ''">
                  <i>({{-sai | number:2 }})</i></small>
                <small class="text-primary" ng-if="d.nome !== ''">
                  {{-sai | number:2 }}</small></td>
            </tr>
            <tr class="active text-muted">
              <td><i class="fa fa-calculator" aria-hidden="true"></i><small> <b>Resultados</b></small></td>
              <td class="text-right" ng-repeat="m in ctl.saldos track by $index">
                <small ng-if="m.balance"><b>{{m.balance | number:2}}</b></small>
                <br/><small><i>({{ m.previsaoReceita - m.previsaoDespesa | number:2}})</i></small>
              </td>
            </tr>

            <tr class="active">
              <td><i class="fa fa-flag-checkered" aria-hidden="true"></i> <small><b>&nbsp; Saldo Final</b></small></td>
              <td class="text-right" ng-repeat="m in ctl.saldos track by $index">
                <small ng-if="m.saldoFinal"><b>{{m.saldoFinal.saldoFinal | number:2}}</b></small>
                <br/><small><i>({{ m.saldoFinal.saldoFinal + (m.previsaoReceita - m.previsaoDespesa) | number:2}})</i></small>
              </td>
            </tr>
            <!--tr class="text-muted">
              <th></th>
              <th class="text-right" ng-repeat="m in ctl.cashFlowView"
                ng-class="{ 'bg-warning' : m.mes === ctl.nowSelect, 'active' : m.mes !== ctl.nowSelect }">
                <small>{{ m.mes }}</small></th>
            </tr-->
          </tbody>
        </table>
      </div>
      <!--uib-tabset active="activeJustified" justified="true">
        <uib-tab>
          <uib-tab-heading>Fluxo de caixa</uib-tab-heading>
          <br/>


        </uib-tab>
        <uib-tab>
          <uib-tab-heading><small>Gráfico {{ctl.status}}</small></uib-tab-heading>
          <br/>

          <canvas id="base" class="chart-bar"
           chart-data="ctl.data" chart-labels="ctl.labels" chart-colors="ctl.colors"
           chart-dataset-override="ctl.datasetOverride" chart-options="ctl.options" >
        </uib-tab>
      </uib-tabset-->
    </div>
  </div>
</div>
