<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>

  <h5><i class="fa fa-reply fa-2x" aria-hidden="true"></i>
    <strong><span class="modal-title">Operação financeira</span></strong>
  </h5>
</div>

<div class="modal-body">
  <form class="form" novalidate name="form" ng-submit="ctl.setPagamento(form)">

    <uib-tabset active="active">
      <uib-tab>
        <uib-tab-heading><small>Transação</small></uib-tab-heading>
        <br/>
        <div class="row">
          <div class="col-md-12">
            <dt class="text-muted"><small>Banco da operação finaceira</small></dt>
            <dd>
              <select class="form-control" name="banco" ng-model="ctl.pag.banco"
                 ng-options="item._id as item.nome for item in ctl.bancos"
                 style="background-color: #FFF;"
                 ng-required="true">
                 <option value="" ng-if="!ctl.pag.banco">-- Nenhum --</option>
              </select>
            </dd>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-xs-6">
            <dt class="text-muted"><small>Data Pagamento</small></dt>
            <dd>
              <p class="input-group">
                <input type="text" class="form-control" name="dataPagamento"
                  ng-model="ctl.pag.dataPagamento" datepicker-options="ctl.dateOptions"
                  uib-datepicker-popup="{{ctl.format}}" placeholder="__/__/____ __:__"
                  is-open="ctl.popup2.opened"
                  ng-required="true" show-button-bar="false"
                  style="background-color: #FFF;"/>

                <span class="input-group-btn">
                 <button type="button" class="btn btn-default"
                  ng-click="ctl.popup2.opened = true;">
                 <i class="fa fa-calendar" aria-hidden="true"></i></button>
                </span>
              </p>
            </dd>
          </div>
          <div class="col-xs-6">
            <dt class="text-muted"><small>Valor Total</small></dt>
            <dd>
              <input type="text" class="form-control text-right" ng-disabled="true"
                style="background-color: #FFF;"
                ng-model="ctl.pag.pagamento.valor" ui-money-mask/>
            </dd>
          </div>
        </div>
      </uib-tab>

      <uib-tab>
        <uib-tab-heading><small>Título</small></uib-tab-heading>
        <br/>
        <div class="row">
          <div class="col-md-12">
            <dt class="text-muted"><small>Nome</small></dt>
            <dd>
              <input type="text" class="form-control" ng-disabled="true"
              style="background-color: #FFF;"
                ng-model="ctl.pag.titulo"/>
            </dd>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-xs-4">
            <dl>
              <dt class="text-muted"><small>Status</small></dt>
              <dd>
                <input type="text" class="form-control" ng-disabled="true"
                  style="background-color: #FFF;"
                  ng-model="ctl.pag.status"/>
              </dd>
            </dl>
          </div>
          <div class="col-xs-8">
            <dl>
              <dt class="text-muted"><small>Valor Total</small></dt>
              <dd>
                <input type="text" class="form-control text-right" ng-disabled="true"
                  style="background-color: #FFF;"
                  ng-model="ctl.pag.valorTotal" ui-money-mask/>
              </dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <dl>
              <dt class="text-muted"><small>Numero</small></dt>
              <dd>
                <input type="text" class="form-control" ng-disabled="true"
                  style="background-color: #FFF;"
                  ng-model="ctl.pag.numero"/>
              </dd>
            </dl>
          </div>
          <div class="col-xs-8">
            <dl>
              <dt class="text-muted"><small>Data Emissão</small></dt>
              <dd>
                <p class="input-group">
                  <input type="text" class="form-control" name="dataEmissao"
                    ng-model="ctl.pag.dataEmissao" datepicker-options="ctl.dateOptions"
                    uib-datepicker-popup="{{ctl.format}}" placeholder="__/__/____"
                    is-open="ctl.popup4.opened" ng-disabled="true"
                    ng-required="true" show-button-bar="false"
                    style="background-color: #FFF;"/>

                  <span class="input-group-btn">
                   <button type="button" class="btn btn-default"
                    ng-click="ctl.popup4.opened = true;">
                   <i class="fa fa-calendar" aria-hidden="true"></i></button>
                  </span>
                </p>
              </dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <dl>
              <dt class="text-muted"><small>CPF/CNPJ</small></dt>
              <dd>
                <input type="text" class="form-control" ng-disabled="true"
                  style="background-color: #FFF;"
                  ng-model="ctl.pag.referente.cpfCnpj" ui-br-cpfcnpj-mask/>
              </dd>
            </dl>
          </div>
          <div class="col-xs-8">
            <dl>
              <dt class="text-muted"><small>Nome</small></dt>
              <dd>
                <input type="text" class="form-control" ng-disabled="true"
                  style="background-color: #FFF;"
                  ng-model="ctl.pag.referente.nome"/>
              </dd>
            </dl>
          </div>
        </div>

      </uib-tab>
      <uib-tab>
        <uib-tab-heading><small>Informações</small></uib-tab-heading>
        <br/>
        <div class="row">
          <div class="col-xs-6">
            <dl>
              <dt class="text-muted"><small>Tipo</small></dt>
              <dd>
                <input type="text" class="form-control" ng-disabled="true"
                  style="background-color: #FFF;"
                  ng-model="ctl.pag.pagamento.tipo"/>
              </dd>
            </dl>
          </div>
          <div class="col-xs-6">
            <dt class="text-muted"><small>Data Vencimento</small></dt>
            <dd>
              <p class="input-group">
                <input type="text" class="form-control" name="dataVencimento"
                  ng-model="ctl.pag.pagamento.dataVencimento" datepicker-options="ctl.dateOptions"
                  uib-datepicker-popup="{{ctl.format}}" placeholder="__/__/____"
                  is-open="ctl.popup3.opened" ng-disabled="true"
                  ng-required="true" show-button-bar="false"
                  style="background-color: #FFF;"/>

                <span class="input-group-btn">
                 <button type="button" class="btn btn-default"
                  ng-click="ctl.popup3.opened = true;">
                 <i class="fa fa-calendar" aria-hidden="true"></i></button>
                </span>
              </p>
            </dd>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <dl>
              <dt class="text-muted"><small>Parcela</small></dt>
              <dd>
                <input type="text" class="form-control text-right" ng-disabled="true"
                  style="background-color: #FFF;"
                  ng-model="ctl.pag.pagamento.parcela"/>
              </dd>
            </dl>
          </div>
          <div class="col-xs-6" ng-if="ctl.pag.pagamento.tipo !== 'Dinheiro'">
            <dt class="text-muted"><small>Documento</small></dt>
            <dd>
              <input type="text" class="form-control text-right"
                style="background-color: #FFF;" placeholder="000000" ng-disabled="true"
                ng-model="ctl.pag.pagamento.documento"/>
            </dd>
          </div>
        </div>
        <div class="row" ng-if="ctl.pag.pagamento.tipo === 'Cartão Débito' || ctl.pag.pagamento.tipo === 'Cartão Crédito'">
          <div class="col-xs-6">
            <dl>
              <dt class="text-muted"><small>Bandeira</small></dt>
              <dd>
                <input type="text" class="form-control text-right"
                  style="background-color: #FFF;" placeholder="000000" ng-disabled="true"
                  ng-model="ctl.pag.pagamento.bandeira"/>
              </dd>
            </dl>
          </div>
          <div class="col-xs-6">
            <dt class="text-muted"><small>Autorização</small></dt>
            <dd>
              <input type="text" class="form-control text-right"
                style="background-color: #FFF;" placeholder="000000" ng-disabled="true"
                ng-model="ctl.pag.pagamento.autorizacao"/>
            </dd>
          </div>
        </div>

      </uib-tab>
    </uib-tabset>


    <div class="row"><hr/></div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary"
          ng-disabled="form.$invalid">Finalizar</button>
        <button type="button" class="btn btn-default"
          ng-click="ctl.close()">Fechar</button>

      </div>
    </div>
  </form>
</div>
