<!doctype html>
<html>
{{head}}
<body class="">
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">

          <span class="preheader">Verificação de conta</span>
          <table class="main">

            <tr>
              <td class="wrapper">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <h2>Bem-vindo(a) ao webnode!</h2>
                      <h3>Olá <b>{{name}},</b></h3>
                      <p>{{message}}</p>
                      <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                        <tbody>
                          <tr>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                  <tr>
                                    <td> <a href="{{action}}" target="_blank">Verificar Conta</a> </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </br>
                      <label>Para efetuar o login utilize a URL abaixo</label>
                      <h3>{{urlLogin}}</h3>
                      </br>
                      <label>Nome do usuário</label>
                      <h3>{{username}}</h3>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

          </table>

          <div class="footer">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-block">
                  <span class="apple-link">{{copymark}}</span>
                </td>
              </tr>
              <tr>
                <td class="content-block powered-by">
                  Todos os direitos reservados. <a href="#">webnode</a>.
                </td>
              </tr>
            </table>
          </div>

        </div>
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
</body>

</html>
