<div class="container">
  <div class="row">
    <p><a ui-sref="admin"><small>Voltar para o início</small></a></p>
    <h2><i class="fa fa-cubes" aria-hidden="true"></i>Permissões</h2>
    <p>Um perfil é responsável por agrupar o conjunto de permissões do usuário</p>
    <hr/>
    <div class="panel panel-default" ng-show="!ctl.isNovo">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <div class="btn-group">
              <a class="btn btn-default" ng-click="ctl.newProfile()">
                <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>
              <!--a class="btn btn-default"><span> Edit</span></a>
              <a class="btn btn-default"><span>Delete</span></a-->
            </div>
          </div>
          <div class="col-xs-6 pull-right form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" placeholder="Filtrar resultados"
               ng-model="filtrarResult">
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover">

          <thead>
            <tr class="active">
              <th></th>
              <th>
                <a href="#" ui-sref-active="active"
                  ng-click="sortType = 'nome'; sortReverse = !sortReverse">
                  <strong>Nome do perfil<strong>
                  <div class="pull-right">
                    <span ng-show="sortType == 'nome' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'nome' && sortReverse" class="fa fa-caret-up"></span>
                  </div>
                </a>
              </th>
              <th>
                <a href="#" ui-sref-active="active"
                  ng-click="sortType = 'nome'; sortReverse = !sortReverse">
                  <strong>Papel<strong>
                  <div class="pull-right">
                    <span ng-show="sortType == 'role' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'role' && sortReverse" class="fa fa-caret-up"></span>
                  </div>
                </a>
              </th>
              <!--th>
                <a href="#" ui-sref-active="active"
                  ng-click="sortType = 'descricao'; sortReverse = !sortReverse">
                  <strong>Descrição<strong>

                  <div class="pull-right">
                    <span ng-show="sortType == 'descricao' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'descricao' && sortReverse" class="fa fa-caret-up"></span>
                  </div>
                </a>
              </th-->
              <th>
                <a href="#" ui-sref-active="active"
                  ng-click="sortType = 'isAtivo'; sortReverse = !sortReverse">
                  <strong>Situação</strong>
                  <div class="pull-right">
                    <span ng-show="sortType == 'isAtivo' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'isAtivo' && sortReverse" class="fa fa-caret-up"></span>
                  </div>
                </a>
              </th>
              <th>
                <a href="#" ui-sref-active="active"
                  ng-click="sortType = 'updatedAt'; sortReverse = !sortReverse">
                  <strong>Modificador</strong>
                  <div class="pull-right">
                    <span ng-show="sortType == 'updatedAt' && !sortReverse" class="fa fa-sort-amount-asc"></span>
                    <span ng-show="sortType == 'updatedAt' && sortReverse" class="fa fa-sort-amount-desc"></span>
                  </div>
                </a>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="ap in ctl.profileList() | orderBy:sortType:sortReverse | filter:filtrarResult"
              ng-click="ctl.editProfile(ap)">
              <td>
                <a href="#" uib-tooltip="Editar">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              </td>
              <td><a href="#" ui-sref-active="active">{{ ap.nome }}</a></td>
              <td>{{ ap.role }}</td>
              <!--td><small>{{ ap.descricao}}</small></td-->
              <td>
                <small ng-if="ap.isAtivo === 'true'">
                  <span class="label label-success">Ativo</span></small>
                <small ng-if="ap.isAtivo === 'false'">
                  <span class="label label-danger">Desativo</span></small>
              </td>
              <!--td><small>{{ ap.createdAt | date:'dd/MM/yyyy HH:mm' }} por
                <strong>{{ ap.criador.nome}} {{ap.criador.sobrenome}}</strong></small></td-->
              <td>
                <small>{{ ap.updatedAt | date:'dd/MM/yyyy HH:mm' }} por
                  <strong>{{ap.modificador.nome}} {{ap.modificador.sobrenome}}</strong></small>
              </td>
            </tr>
          </tbody>

        </table>

      </div>
    </div>
  </div>

  <!-- Formulario de edição de perfil -->
  <div class="panel panel-default" ng-show="ctl.isNovo">
    <!--div class="panel-heading">
      <h3 class="panel-title">Informações do perfil</h3>
    </div-->
    <div class="panel-body">
      <form class="form" name="formProfile" novalidate
        ng-submit="ctl.saveProfile(formProfile)">
        <h4><label>Informações do perfil</label></h4>
        <hr/>
        <div class="row">
          <div class="col-xs-6">
            <dl>
              <dt><small>Nome do perfil</small></dt>
              <dd ng-class="{'has-error': formProfile.profileNome.$invalid && formProfile.profileNome.$dirty}">
                <input type="text" name="profileNome" class="form-control" placeholder="Nome perfil"
                 ng-model="ctl.profile.nome" ng-required="true" ng-minlength="3" ng-maxlength="30"
                  nomevalido="false" />

                <p class="help-block"
                  ng-show="formProfile.profileNome.$error.required && formProfile.profileNome.$dirty">
                  O sobrenome é necessário</p>
                <p class="help-block" ng-show="formProfile.profileNome.$error.minlength">
                  São necessários no minimo 3 letras</p>
                <p class="help-block" ng-show="formProfile.profileNome.$error.maxlength">
                  São permitidos no máximo 30 letras</p>
              </dd>
            </dl>
          </div>
          <div class="col-xs-6">
            <dl>
              <dt><small>Papel do perfil</small></dt>
              <dd>
                <select class="form-control" ng-model="ctl.profile.role"
                  ng-disabled="ctl.profile._id"
                   ng-options="item.value as item.label for item in ctl.itemRole">
                </select>
              </dd>
            </dl>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <textarea class="form-control" rows="3" placeholder="Descrição"
              ng-model="ctl.profile.descricao"></textarea>
          </div>
        </div>

        <div class="row" ng-if="ctl.profile._id">
          <div class="col-xs-6">
            <dl>
              <dt><small>Situação</small></dt>
              <dd>
                <select class="form-control" ng-model="ctl.profile.isAtivo"
                 ng-options="item.value as item.name for item in ctl.situacao"></select>
               </dd>
            </dl>
          </div>
          <div class="col-xs-6">
            <!--dl>
              <dt><small>Modificado</small></dt>
              <dd><small>{{ ctl.app().updatedAt | date:'dd/MM/yyyy HH:mm' }} por
                <strong>{{ctl.app().criador.nome}} {{ctl.app().criador.sobrenome}}</strong></small></dd>
            </dl-->
          </div>
        </div>

        <div class="row" ng-if="ctl.profile._id">
          <div class="col-xs-6">
            <dl>
              <dt><small>Criado</small></dt>
              <dd>
                {{ ctl.profile.createdAt | date:'dd/MM/yyyy HH:mm' }} por
                <strong>{{ctl.profile.criador.nome}} {{ctl.profile.criador.sobrenome}}</strong>
              </dd>
            </dl>
          </div>
          <div class="col-xs-6">
            <dl>
              <dt><small>Modificado</small></dt>
              <dd>
                {{ ctl.profile.updatedAt | date:'dd/MM/yyyy HH:mm' }} por
                <strong>{{ ctl.profile.modificador.nome}} {{ ctl.profile.modificador.sobrenome}}</strong>
              </dd>
            </dl>
          </div>
        </div>
        <br/>
        <h4><label>Conjuntos de permissões</label> <small></small></h4>
        <hr/>
        <div class="" ng-repeat="app in ctl.AplicacaoService.getAppList()">
          <div class="list-group-item">
            <h5>
              <a href="" ng-click="app.isCollapsed = !app.isCollapsed">
                <i class="fa fa-rocket" aria-hidden="true"></i>
                {{app.nome}}
              </a>
              <small>{{app.descricao}}</small>

            </h5>
          </div>


          <div class="table-responsive" uib-collapse="app.isCollapsed">
            <table class="table table-hover table-bordered">
              <tbody>
                <tr class="active" ng-repeat="m in app.modulos">
                  <td><small uib-tooltip="{{m.descricao}}">{{ m.nome}}</small></td>
                  <td>
                    <button type="button" ng-click="ctl.addAllFuncoes(m)"
                      uib-tooltip="Adicionar todas as funções">
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                  </td>
                  <td>
                    <ui-select multiple remove-selected="false" theme="bootstrap"
                      title="Selecione as funções"
                      ng-model="m.select.funcoes" close-on-select="false">
                      <ui-select-match placeholder="Selecione as funções">
                        <strong>{{ $item }}</strong>
                      </ui-select-match>
                      <ui-select-choices repeat="item in (m.funcoes | filter: $select.search) track by item">
                          <!--span ng-bind="item.name"></span-->
                          <div ng-bind-html="item | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br/>
        <h4><label>Configurações da sessão</label></h4>
        <hr/>
        <div class="row">
          <div class="col-xs-6">
            <dl>
              <dt><small>Sessão expira após</small></dt>
              <dd>
                <select class="form-control" ng-model="ctl.profile.tempoSessao"
                   ng-options="item.value as item.label for item in ctl.itemSessao">
                </select>
              </dd>
            </dl>
          </div>
          <div class="col-xs-6">
          </div>
        </div>
        <div class="row"><hr/></div>
        <div class="list-group">
          <button class="btn btn-primary" type="submit"
            ng-disabled="formProfile.$invalid || ctl.wait">
              <loading showhidden="ctl.wait"></loading> Salvar</button>
          <button type="button" class="btn btn-link"
            ng-click="ctl.isNovo = false">Voltar</button>
        </div>

      </form>
    </div>
  </div>
</div>
