<div class="container">
  <div>
    <p><a ui-sref="home"><small>Voltar para o início</small></a></p>
    <h2><i class="fa fa-cubes" aria-hidden="true"></i> Permissões</h2>
    <p>Um perfil é responsável por agrupar o conjunto de permissões do usuário</p>
    <hr/>
    <span spinner-key="spinner-1" spinner-start-active="true"
      us-spinner="{radius:24, width:8, length: 16}"/>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <div class="btn-group">
              <a class="btn btn-default" ui-sref="permissoesedit">
                <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>
              <!--a class="btn btn-default"><span> Edit</span></a>
              <a class="btn btn-default"><span>Delete</span></a-->
            </div>
          </div>
          <div class="col-xs-6 pull-right form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" placeholder="Filtrar resultados"
                ng-model="filtrarResult">
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr class="active">
              <th></th>
              <th>
                <a href="#" ui-sref-active="active"
                  ng-click="sortType = 'nome'; sortReverse = !sortReverse">
                  <strong>Nome do perfil<strong>
                  <div class="pull-right">
                    <span ng-show="sortType == 'nome' && !sortReverse"
                      class="fa fa-sort-amount-asc"></span>
                    <span ng-show="sortType == 'nome' && sortReverse"
                      class="fa fa-sort-amount-desc"></span>
                  </div>
                </a>
              </th>
              <th>
                <a href="#" ui-sref-active="active"
                  ng-click="sortType = 'role'; sortReverse = !sortReverse">
                  <strong>Papel<strong>
                  <div class="pull-right">
                    <span ng-show="sortType == 'role' && !sortReverse"
                      class="fa fa-sort-amount-asc"></span>
                    <span ng-show="sortType == 'role' && sortReverse"
                      class="fa fa-sort-amount-desc"></span>
                  </div>
                </a>
              </th>
              <th>
                <a href="#" ui-sref-active="active"
                  ng-click="sortType = 'isAtivo'; sortReverse = !sortReverse">
                  <strong>Situação</strong>
                  <div class="pull-right">
                    <span ng-show="sortType == 'isAtivo' && !sortReverse"
                      class="fa fa-sort-amount-asc"></span>
                    <span ng-show="sortType == 'isAtivo' && sortReverse"
                      class="fa fa-sort-amount-desc"></span>
                  </div>
                </a>
              </th>
              <th>
                <a href="#" ui-sref-active="active"
                  ng-click="sortType = 'updatedAt'; sortReverse = !sortReverse">
                  <strong>Modificador</strong>
                  <div class="pull-right">
                    <span ng-show="sortType == 'updatedAt' && !sortReverse"
                      class="fa fa-sort-amount-asc"></span>
                    <span ng-show="sortType == 'updatedAt' && sortReverse"
                      class="fa fa-sort-amount-desc"></span>
                  </div>
                </a>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="ap in ctl.profileList() | orderBy:sortType:sortReverse | filter:filtrarResult"
              ui-sref="permissoesedit({id: ap._id})">
              <td>
                <a href="#" uib-tooltip="Editar">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              </td>
              <td><a href="#" ui-sref-active="active">{{ ap.nome }}</a></td>
              <td>{{ ap.role }}</td>
              <!--td><small>{{ ap.descricao}}</small></td-->
              <td>
                <small ng-if="ap.isAtivo == true">
                  <span class="label label-success">Ativo</span></small>
                <small ng-if="ap.isAtivo == false">
                  <span class="label label-danger">Desativo</span></small>
              </td>
              <!--td><small>{{ ap.createdAt | date:'dd/MM/yyyy HH:mm' }} por
                <strong>{{ ap.criador.nome}} {{ap.criador.sobrenome}}</strong></small></td-->
              <td>
                <small>{{ ap.updatedAt | date:'dd/MM/yyyy HH:mm' }} por
                  <strong>{{ap.modificador.nome}} {{ap.modificador.sobrenome}}</strong></small>
              </td>
            </tr>
          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>
