<!doctype html>
<html>
{{head}}
<body class="">
  <h1>
    <img src="{{url}}assets/images/logo.png" alt="I'm Yeoman"
     style="vertical-align: bottom;45px; height:45px;"/> &nbsp;&nbsp;{{title}}
    <span style="float: right;font-size:12px; color: #777"></span>
   </h1>
   <p></p>
   <p style="font-size: 11px;">{{headerSubtitle}}</p>
  <hr/>
  <br></br>
  <div class="line">
    <div style="width: 50%;float: left;">
      <p><label style="font-weight: bold;">Periódo: </label> {{periodo}}</p>
    </div>
    <div style="width: 50%;float: left;">
      <p><label style="font-weight: bold;">Kolekto:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> {{hourKolekto}}</p>
    </div>
    <div style="width: 50%;float: left;">
      <p><label style="font-weight: bold;">&nbsp;</label></p>
    </div>
    <div style="width: 50%;float: left;">
      <p><label style="font-weight: bold;">Escritório:&nbsp;&nbsp;</label> {{hourEscritorio}}</p>
    </div>
  </div>
  <br></br>
  <br></br>
  <br></br>
  <h2>
    <label>{{message}}</label>
    <span style="float: right;"> <small>Total horas:</small> <b>{{totalHours}}</b></span>
  </h2>
  <hr/>
  <br/>

  <% _.forEach(events, function(event, index) { %>
  <table cellpadding="4" cellspacing="3" class="body">
    <tr>
      <th><small><%- event.projeto %></small></th>
      <th style="text-align: right;">
        <small>Horas:</small>
        <span style="font-weight: normal;"><%- event.totalHours%></span></th>
    </tr>
  </table>
  <br/>
  <table cellpadding="4" cellspacing="3" class="body">
    <tr>
      <th><small>Data</small></th>
      <th><small>Local</small></th>
      <th><small>Título</small></th>
      <th><small>Horas</small></th>
    </tr>
    <% _.forEach(event.tasks, function(tas, index) { %>
      <tr>
        <td style="width: 100px;"><small><%- tas.start %></small></td>
        <td style="width: 100px;"><small><%- tas.local %></small></td>
        <td><small><%- tas.title %></small></td>
        <td style="width: 100px;"><small><%- tas.duration %></small></td>
      </tr>
    <% }); %>
  </table>
  <br/>
  <br/>
  <% }); %>

</body>
</html>
