<div class="container">
  <!--h3><i class="fa fa-home" aria-hidden="true"></i> <b>Início</b></h3-->
  <!--hr/-->

  <span spinner-key="spinner-1" spinner-start-active="true"
    us-spinner="{radius:24, width:8, length: 16}"/>

  <div class="row">
    <ul class="nav nav-pills" ng-class="ctl.isJustified()">
      <li ng-class="{ active: ctl.isActive('')}">
        <a href="#" ng-click="ctl.findEventListStatus('')" uib-tooltip="Todos">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <small ng-if="ctl.isFull()">Eventos<br/></small>
          <span class="badge">{{ctl.EventoService.getEventoList().length}}</span>
        </a>
      </li>
      <li ng-class="{ active: ctl.isActive('Concluído')}">
        <a href="#" ng-click="ctl.findEventListStatus('Concluído')" uib-tooltip="Concluídos">
          <i class="fa fa-check" aria-hidden="true"></i>
          <small ng-if="ctl.isFull()">Concluídos<br/></small>
          <span class="badge">{{ctl.EventoService.getNumConcluido()}}</span>
        </a>
      </li>
      <!--li ng-class="{ active: ctl.isActive('Concluído')}" class="dropdown" uib-dropdown>
          <a href="#" uib-dropdown-toggle data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false"
            ng-click="ctl.findEventListStatus('Concluído')">
            <small ng-if="ctl.isFull()">Concluídos</small>
            <span class="caret"/><br/>
          <span class="badge">{{ctl.EventoService.getNumConcluido()}}</span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
            <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
        </ul>
      </li-->
      <li ng-class="{ active: ctl.isActive('Pendente')}">
        <a href="#" ng-click="ctl.findEventListStatus('Pendente')" uib-tooltip="Pendentes">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <small ng-if="ctl.isFull()">Pendentes<br/></small>
          <span class="badge">{{ctl.EventoService.getNumPendente()}}</span>
        </a>
      </li>
      <li ng-class="{ active: ctl.isActive('Em Andamento')}">
        <a href="#" ng-click="ctl.findEventListStatus('Em Andamento')" uib-tooltip="Em Andamentos">
          <i class="fa fa-spinner" aria-hidden="true"></i>
          <small ng-if="ctl.isFull()">Em Andamentos<br/></small>
          <span class="badge">{{ctl.EventoService.getNumEmAndamento()}}</span>
        </a>
      </li>
      <li ng-class="{ active: ctl.isActive('Cancelado')}">
        <a href="#" ng-click="ctl.findEventListStatus('Cancelado')" uib-tooltip="Cancelados">
          <i class="fa fa-ban" aria-hidden="true"></i>
          <small ng-if="ctl.isFull()">Cancelados<br/></small>
          <span class="badge">{{ctl.EventoService.getNumCancelado()}}</span>
        </a>
      </li>
    </ul>
  </div>

  <hr/>

  <div class="row">
    <div class="col-lg-12">
      <uib-progressbar  value="ctl.checks" type="primary">
        <i>{{ctl.checks | number : 2 }} %</i></uib-progressbar></div>
  </div>

  <!--div class="row">
    <ul class="breadcrumb">
      <li title="Itens no calendário">
        <a href="#" ng-click="ctl.findEventListStatus('');">
          <i class="fa fa-calendar" aria-hidden="true"></i> <b>{{ctl.EventoService.getEventoList().length}}</b></a>
      </li>
      <li title="Concluído">
        <a href="" ng-click="ctl.findEventListStatus('Concluído');" class="completed">
          <i class="fa fa-check" aria-hidden="true"></i> <b>{{ctl.EventoService.getNumConcluido()}}</b></a></li>
      <li title="Pendente">
        <a href="" ng-click="ctl.findEventListStatus('Pendente');" class="pending">
          <i class="fa fa-clock-o" aria-hidden="true"></i> <b>{{ctl.EventoService.getNumPendente()}}</b></a></li>
      <li title="Em Andamento">
        <a href="" ng-click="ctl.findEventListStatus('Em Andamento');" class="inprocess">
          <i class="fa fa-spinner" aria-hidden="true"></i> <b>{{ctl.EventoService.getNumEmAndamento()}}</b></a></li>
      <li title="Cancelado">
        <a href="" ng-click="ctl.findEventListStatus('Cancelado');" class="cancel">
        <i class="fa fa-ban" aria-hidden="true"></i> <b>{{ctl.EventoService.getNumCancelado()}}</b></a></li>
    </ul>
  </div-->

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div ui-calendar="ctl.uiConfig.calendar" ng-model="ctl.eventSources">
      </div>
    </div>
    <!--div class="col-sm-8">
    </div>
    <div class="col-sm-4">
    </div-->
  </div>

  <hr/>

  <!--ul class="breadcrumb">
    <li class="completed"><a href="javascript:void(0);">Personal Contact</a></li>
    <li class="active"><a href="javascript:void(0);">Educational/Experience</a></li>
    <li><a href="javascript:void(0);">Photo Upload</a></li>
    <li><a href="javascript:void(0);">Payment</a></li>
  </ul>
  <div class="process">
    <div class="process-row">
      <div class="process-step">
        <button type="button" class="btn btn-default btn-circle">
          <i class="fa fa-user fa-2x"></i></button>
        <p>Personal data</p>
      </div>
      <div class="process-step">
        <button type="button" class="btn btn-default btn-circle">
          <i class="fa fa-comments-o fa-2x"></i></button>
        <p>We confirm you</p>
      </div>
      <div class="process-step">
        <button type="button" class="btn btn-default btn-circle">
          <i class="fa fa-thumbs-up fa-3x"></i></button>
        <p>Tiger comes</p>
      </div>
      <div class="process-step">
        <button type="button" class="btn btn-default btn-circle">
          <i class="fa fa-eur fa-3x"></i></button>
        <p>You Pay</p>
      </div>
    </div>
  </div-->
</div>
